@charset "UTF-8";

/* 기본적인 폰트 설정 */
* {
	font-family: Arial, "MS Trebuchet", sans-serif; 
}

/* body 설정 */
body{
	display: flex;
	width: 80%;
	margin: 3rem auto;
	background-color: black;
}

/* 그리드 설정 */
.container {
	display: grid;
	row-gap: 1rem;
	width: 100%;
}

.item {
	color: white;
	border: solid 1px red;
	
}